In [1]:
print("Hello World")

Hello World

In [2]:
# shift + enter
print("Hello")

Hello

In [3]:
a = 9

In [4]:
print(a)

9

In [5]:
type(a)

int

In [6]:
a = "hello"

In [7]:
print(a)

hello

In [8]:
type(a)

str

## Condtional Statements

In [17]:
n = 9

if n>10:
    print("Number is greater than 10")
elif (n<5):
    print("Number is smaller than 5")
else:
    print("Else Part")
    
print("Always executed")

Else Part
Always executed

## Iterations

In [23]:
i = 0
while i<=10:
    print(i, end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10

### For IN Loop

In [27]:
for ele in range(20,30):
    print(ele**2)

400
441
484
529
576
625
676
729
784
841

In [28]:
## OPerations

In [34]:
print(5+1)
print(8-2)
print(7/2)
print(7//2)
print(5**3)

6
6
3.5
3
125

## Functions

In [44]:
def sample(a,b):
    print("Hello from function")
    return (a+b), (a-b), (a*b)

In [45]:
sample(1,2)

Hello from function

(3, -1, 2)

In [46]:
s = "Hello"

In [49]:
s[0]

'H'

In [51]:
s+str(4)

'Hello4'

In [52]:
s*4

'HelloHelloHelloHello'

In [53]:
s.lower()

'hello'

In [54]:
s.upper()

'HELLO'

In [59]:
def pattern(n):
    for i in range(n):
        print("x "*(i+1) )

In [60]:
pattern(5)

x
x x
x x x
x x x x
x x x x x

In [69]:
def pyramid(n):
    for i in range(n):
        print(" "*(n-i+1) + "x"*(2*(i+1)-1))

In [70]:
pyramid(5)

      x
     xxx
    xxxxx
   xxxxxxx
  xxxxxxxxx

## Data Structures

## List

In [71]:
l = [5,2,8,0,7,9,20]

In [76]:
type(l)

list

In [73]:
l[6]

20

In [75]:
l[-2]

9

In [77]:
# List Slicing
# l[  start_idx : end_idx +1 ]
l[ 2: 6 ]

[8, 0, 7, 9]

In [80]:
l[ 5: ]

[9, 20]

In [83]:
# Iterating over list
for element in l:
    print(element**2)

25
4
64
0
49
81
400

In [85]:
l.append(100)

In [86]:
l

[5, 2, 8, 0, 7, 9, 20, 100]

In [88]:
l.insert(2, 400)

In [89]:
l

[5, 2, 400, 8, 0, 7, 9, 20, 100]

In [100]:
l.sort(reverse=True)

In [101]:
l

[400, 100, 20, 9, 8, 7, 5, 2, 0]

In [102]:
l.clear()

In [103]:
l

[]

## Tuples

In [104]:
t = (5,7,2,8,6)

In [112]:
type(t)

tuple

In [106]:
t[-1]

6

In [107]:
t[1:4]

(7, 2, 8)

In [109]:
t[2] = 90

TypeError: 'tuple' object does not support item assignment

In [111]:
t

(5, 7, 2, 8, 6)

## Dictionary

In [119]:
food_menu = {
    "samosa" : 10,
    "patty" : 15,
    "coffee" : {
        's' : 10,
        'l' : 30,
        'm' : 20
        
    },
    "juice" : [15,30,25]
}

In [120]:
food_menu['juice']

[15, 25, 30]

In [123]:
food_menu['coffee']['m']

20

In [124]:
food_menu.keys()

dict_keys(['samosa', 'patty', 'coffee', 'juice'])

In [125]:
food_menu.values()

dict_values([10, 15, {'s': 10, 'm': 20, 'l': 30}, [15, 25, 30]])

In [126]:
food_menu.items()

dict_items([('samosa', 10), ('patty', 15), ('coffee', {'s': 10, 'm': 20, 'l': 30}), ('juice', [15, 25, 30])])